@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Dark Mode */
.dark ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dark ::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #444;
    cursor: pointer;
}



/* Light Mode */
::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    cursor: pointer;
}

.hide-scroll-bar::-webkit-scrollbar-thumb,
.hide-scroll-bar::-webkit-scrollbar-track {
    visibility: hidden
}